<h1>Users#buyed_books</h1>
<p>Find me in app/views/users/buyed_books.html.erb</p>

<%= form_with url: buy_books_users_path do |f| %>
  <div class="form-group mx-sm-3 mb-2">
    <%= f.select :book_id, @books, class: "custom-select" %>
    <%= f.hidden_field :status, value: :buyed %>
    <%= f.submit 'Comprar', class: "btn btn-success m-3", data: {confirm: 'Estás segur@?'} %>
  </div>
<% end %>